//reset
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//general
//@import '~bootstrap/scss/bootstrap.scss';
@import '~@fontsource/lato/index.css';

body{
  font-family: $font;
  color: white;
}

img{
  max-width: 100%;
  margin-bottom: 5px;
}